<div class="h4 mt-4">Настройки аккаунта</div>

<% if (typeof success !== 'undefined') { %>
    <div class="alert alert-success mt-4" role="alert"><%= success %></div>
<% } %>

<form class="mt-4" action="/settings" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Имя</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Э-почта</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Новый пароль</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-warning">Сохранить</button>
</form>