<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <link href="/assets/css/dashboard.css" rel="stylesheet">

    <title>QuickCard</title>
</head>
<body>
<%- include('components/_navbar') -%>
<div class="container-fluid">
    <div class="row">
        <%- include('components/_sidebar') -%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <%- body %>
        </main>
    </div>
</div>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/feather.min.js"></script>
<script>
  feather.replace()
</script>
</body>
</html>